<form action="/answer" method="get" class="form">
  <label for="question" id="label">Ask your coach anything:</label><br>
  <input type="text" name="question" class="input">
  <input type="submit" value="Ask" class="button">
</form>